html,body{
    margin: 0;
}
.navBar{
    position: absolute;
    background:transparent;
    /* border: 1px solid white; */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    margin: 0;
    display: flex;
    gap: 20px;
    padding: 0 1em;
}
.navBar img{
    width: 300px;
    height: 59px;
}
.BANNER{
    color: #ca82ca;
    font-size: 25px;
    margin: 
    /* font-size */
}
li{
    list-style: none;
    font-family: sans-serif;
}
li a:link{
    color: white ;
    text-decoration: none;
}
li a:visited{
    color: white ;
}
.works{
    height: 100vh;
    background:linear-gradient( rgba(245, 123, 125, 0.7), rgba(248, 35, 197, 0.7),rgba(23, 235, 244, 0.7)), url(/images/wp2704830-best-background.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 350px;
    width: 250px;
    background-color: rgb(63, 99, 153);
    border: 1px solid yellow;
    padding: 1em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
}
.card img{
    width: 250px ;
    height: 170px;
}
.card p{
    color: white;
    font-family: sans-serif;
    font-size: 25px
}
.buttons{
    display: flex;
    gap: 10px;
}
.buttons button{
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    transition: 600ms;
    color: white;
    cursor: pointer;
}
.Plink{
    background: rgb(53, 53, 143);
}
.Plink:hover{
    /* background:linear-gradient( rgba(245, 123, 125, 0.7), rgba(248, 35, 197, 0.7),rgba(23, 235, 244, 0.7)); */
    background: yellow;
    color: black;
}
.Glink{
    background: rgb(0, 0, 0);
}
.Glink:hover{
    background: orange;
    color: black;
}